<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="table">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="titles id_title"> Id </th>
      <td mat-cell class="id"
      [ngClass]="{'hidden':element.state != 'PUBLIC' }"
      *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell class="titles body" *matHeaderCellDef> Post </th>
      <td mat-cell class="body"
      [ngClass]="{'hidden':element.state != 'PUBLIC' }"
       *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Actions">
      <th mat-header-cell class="titles link" *matHeaderCellDef> Actions </th>
      <td mat-cell class="link" *matCellDef="let element">

        <button mat-stroked-button color="primary" [routerLink]="['/home/posts/post/',element.id]" >Ver más</button>


          <button mat-icon-button class="options" [matMenuTriggerFor]="menu" *ngIf="user && canEdit(element.author.uid)">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">

            <button mat-menu-item [disabled]="element.author.uid !== user.uid" >
              <mat-icon>edit</mat-icon>
              <span>Editar Post</span>
            </button>

            <button mat-menu-item [disabled]="element.author.uid !== user.uid" >
              <mat-icon>delete</mat-icon>
              <span>Eliminar</span>
            </button>

             <button mat-menu-item
            *ngIf="element.state === 'PUBLIC'"
            (click)="changeVisibility(element.id,false)" >
              <mat-icon>visibility</mat-icon>
              <span>Visible</span>
            </button>

            <button mat-menu-item
            *ngIf="element.state !== 'PUBLIC'"
            (click)="changeVisibility(element.id,true)">
              <mat-icon>visibility_off</mat-icon>
              <span>Oculto</span>
            </button>
          </mat-menu>


      </td>
    </ng-container>

    <tr mat-header-row  *matHeaderRowDef="titles"></tr>
    <tr mat-row *matRowDef="let row; columns: titles;"></tr>
  </table>

  <mat-paginator class="paginator" [pageSizeOptions]="[10, 15, 20]"
                 showFirstLastButtons>
  </mat-paginator>
</div>
