<section class="section">

  <mat-card class="mat_card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-subtitle >Post Id: {{ post.id }}</mat-card-subtitle>
        <mat-card-title>{{ post.title | titlecase }}</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{post.description}}
    </mat-card-content>
    <p class="text lastDate" *ngIf="lastDateComment">
      Último comentario: {{ lastDateComment | date : "mediumDate" : "es-AR" }}
    </p>
  </mat-card>

  <app-comments [postId]="getId()" (dateOutput)="reciveDate($event)">
  </app-comments>
</section>
