<article class="article_container">

  <mat-card class="header">
    <mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/posts">Volver</button>
        <button mat-raised-button color="primary" (click)="changeToggleName()"
        [ngClass]="{'changeButtonColor' : upperLowerWord}"
        >{{upperLowerWord? 'nombre':'NOMBRE'}}</button>

        <button mat-raised-button class="add_comment" *ngIf="!addComment"
        color="primary" (click)="addComment = !addComment" >Comentar <mat-icon>add</mat-icon>
        </button>

        <button mat-raised-button class="add_comment" *ngIf="addComment"
        color="primary" (click)="addComment = !addComment" >Cancelar
        </button>

      </mat-card-actions>
    </mat-card-content>
    <comment-form class="comment_form" *ngIf="addComment" (newInputText)="addNewComment($event)"></comment-form>

  </mat-card>

  <mat-card class="list" *ngFor="let comment of comments">

    <mat-card-header *ngIf="!editComment">
            <mat-card-title>Nombre: {{ comment.author.name | toggleWord:upperLowerWord }}</mat-card-title>
        <mat-card-subtitle >{{ comment.comment }}</mat-card-subtitle>
      </mat-card-header>

      <ng-container *ngIf="editComment">
      <comment-form *ngIf="comment.id == editComment.id" (newInputText)="saveComment($event)" [comment]="editComment!" ></comment-form>
    </ng-container>

    <mat-card-actions align="end">
      <mat-hint> {{comment.creationDate | date : "mediumDate" : "es-AR"}} </mat-hint>
      <span class="spacer"></span>
     <ng-container *ngIf="comment.author.userId == userId">
      <button mat-button><mat-icon (click)="sendEditComment(comment)" >edit</mat-icon></button>



      <ng-container  *ngIf="comment.status === 'delete'; else delet">
        <button mat-button (click)="deleteComment(comment.id)"
        >Confirmar</button>
    </ng-container>

    <ng-template #delet>
        <button mat-button (click)="comment.status = 'delete'" >
      <mat-icon>delete</mat-icon></button></ng-template>

     </ng-container>

    </mat-card-actions>
  </mat-card>

    <button class="btn emitt" (click)="emittDate()">Emitir</button>

  </article>
