<article class="article_container">
  <mat-card class="header">
    <mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary"
        *ngIf="isAdmin || post.author.uid === user.uid"
        (click)="toogleComments()"
        [matTooltip]="isProtected ? 'Activar comentarios':'Desactivar comentarios'"
        >{{isProtected ? 'Inactivos':'Activos' }}</button>
        <span class="spacer"></span>

        <button mat-raised-button color="primary" (click)="changeToggleName()"
        [ngClass]="{'changeButtonColor' : upperLowerWord}"
        >{{upperLowerWord? 'nombre':'NOMBRE'}}</button>
        <span class="spacer"></span>

        <button mat-raised-button class="add_comment" *ngIf="!addComment"
        color="primary" [disabled]="isProtected" (click)="addComment = !addComment" >Comentar <mat-icon>add</mat-icon>
        </button>

        <button mat-raised-button class="add_comment" *ngIf="addComment"
        color="primary" (click)="addComment = !addComment" >Cancelar
        </button>

      </mat-card-actions>
    </mat-card-content>

    <comment-form
    class="comment_form"
    *ngIf="addComment && isProtected"
    (newInputText)="addNewComment($event)"></comment-form>

  </mat-card>

  <mat-card class="list" *ngFor="let comment of comments">

    <mat-card-header>

      <ng-container *ngIf="editComment?.id !== comment.id">
        <mat-card-title>Nombre: {{ comment.author.name | toggleWord:upperLowerWord }}</mat-card-title>
        <mat-card-subtitle >{{ comment.comment }}</mat-card-subtitle>
      </ng-container>

      <comment-form
      *ngIf="editComment && editComment!.id === comment.id && isProtected"
      [comment]="editComment.comment!"
      (newInputText)="saveComment($event)"
      ></comment-form>

      </mat-card-header>


    <mat-card-actions align="end">
      <mat-hint> {{comment.creationDate | date : "mediumDate" : "es-AR"}} </mat-hint>

      <span class="spacer"></span>

     <ng-container *ngIf="comment.author.uid == user.uid">

      <button *ngIf="editComment?.id == comment.id"  mat-button (click)="sendEditComment(null)" >cancel</button>

      <button [disabled]="isProtected"  (click)="sendEditComment(comment)"
      *ngIf="editComment?.id != comment.id" mat-button>
      <mat-icon>edit</mat-icon>
    </button>

        <button mat-button (click)="deleteComment(comment.id)">
      <mat-icon>delete</mat-icon></button>

     </ng-container>

     <mat-icon [matBadge]="comment.likes.length"
      class="like"
      [ngClass]="{'like_btn': isLiked(comment)}"
      (click)="likeToComment(comment)"
      matBadgeColor="primary">thumb_up</mat-icon>


      <mat-icon matTooltip="Ver likes" (click)="viewLikes(comment.likes)"
      >visibility</mat-icon>

    </mat-card-actions>

  </mat-card>
  </article>

  <div class="modal" *ngIf="likes">
    <div *ngFor="let item of likes" class="card">
      <div class="spans">
      <span class="title"> {{item.username}} </span>
      <span class="sub_title"> {{item.name}} </span>
    </div>
      <img class="imageUrl" [src]="item.imageUrl">
    </div>
    <button mat-raised-button (click)="viewLikes(null)">Cerrar</button>
</div>
