.comment_form{
  width: 100%;
  min-height: 150px ;
}
.edit_form_container{
  display: grid;
  place-items: center;
  position: fixed;
  width: clamp(300px, 50%, 768px);
}

.text_area{
  width: 100%;
}
input.mat-input-element{
 min-height: 150px;
}

.container_textarea{
  height: fit-content;
  margin: 15px auto;
  width: 95%;
}
.textarea_title{
  min-height: 60px;
}
