<section class="form_container" *ngIf="user">
  <div class="card_header">
    <button mat-fab color="primary" (click)="finish()"  class="edit_button" aria-label="Example icon button with a delete icon">
          <mat-icon>edit</mat-icon>
        </button>
    <div class="texts">
      <h1 class="title">{{ user.name }}</h1>
      <h3 class="sub title">{{ user.username }}</h3>
    </div>

    <img
      mat-card-sm-image
      [src]="user.imageUrl ? user.imageUrl : 'assets/images/profileBlank.png'"
      class="photo"
    />
  </div>

  <div class="details" *ngIf="!edit">
    <dl class="details_list" >
    <dt class="d_title">Informacion personal</dt>
    <dd class="detail" >Correo electronico: {{ user.mail }}</dd>
    <dd class="detail" >Teléfono: {{ user.phone }}</dd>
    <dd class="detail" >Cumpleaños: {{ getDate() | date : "mediumDate" : "es-AR" }}</dd>
</dl>
   <dl class="details_list">
    <dt class="d_title">Domicilio</dt>
    <dd class="detail" >País: {{ user.address.country }}</dd>
    <dd class="detail" >Provincia o Estado: {{ user.address.city }}</dd>
    <dd class="detail" >Ciudad: {{ user.address.location }}</dd>
    <dd class="detail" >Calle y altura: {{ user.address.street }}</dd>
  </dl>
  <app-map
   class="profileMap"
   [lngLat]="user.coords"
    ></app-map>
  </div>

<app-user-form
*ngIf="edit"
[user]="user"
(finish)="finish()"
></app-user-form>

</section>
