<section class="form_container" *ngIf="user.name">
  <div class="card_header">
    <button mat-fab color="primary" (click)="editUser()"  class="edit_button" aria-label="Example icon button with a delete icon">
          <mat-icon>edit</mat-icon>
        </button>
    <div class="texts">
      <h1 class="title">{{ user.name }}</h1>
      <h3 class="sub title">{{ user.username }}</h3>
    </div>

    <img
      mat-card-sm-image
      [src]="user.imageUrl ? user.imageUrl : 'assets/images/profileBlank.png'"
      class="photo"
    />
  </div>


  <div class="details" *ngIf="!edit">
    <dl class="details_list" >
    <dt class="d_title">Informacion personal</dt>
    <dd class="detail" >Correo electronico: {{ user.mail }}</dd>
    <dd class="detail" >Teléfono: {{ user.phone }}</dd>
    <dd class="detail" >Cumpleaños: {{ getDate() | date : "mediumDate" : "es-AR" }}</dd>
</dl>
   <dl class="details_list">
    <dt class="d_title">Domicilio</dt>
    <dd class="detail" >País: {{ user.address.country }}</dd>
    <dd class="detail" >Provincia o Estado: {{ user.address.city }}</dd>
    <dd class="detail" >Ciudad: {{ user.address.location }}</dd>
    <dd class="detail" >Calle y altura: {{ user.address.street }}</dd>
  </dl>
  <app-map
   class="profileMap"
    [lngLat]="[0,0]"
    ></app-map>
  </div>

  <ng-container *ngIf="edit">


  <form
  class="form"
  [formGroup]="userForm"
  (ngSubmit)="onSubmit()"
>
  <mat-form-field
    appearance="outline"
    class="form_field"
    hintLabel="De 5 a 15 caracteres"
  >
    <mat-label>Nombre</mat-label>
    <input
      formControlName="name"
      matInput
      #name
      maxlength="15"
      placeholder="Nombre"
    />
    <mat-hint align="end">{{ name.value.length }}/15</mat-hint>
  </mat-form-field>

  <mat-form-field
    appearance="outline"
    class="form_field"
    hintLabel="De 5 a 15 caracteres"
  >
    <mat-label>Username</mat-label>
    <input
      formControlName="username"
      matInput
      #username
      maxlength="15"
      placeholder="Username"
    />
    <mat-hint align="end">{{ username.value.length }}/15</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form_field">
    <mat-label>Url de imagen</mat-label>
    <input
      formControlName="imageUrl"
      matInput
      #imageUrl
      placeholder="Url de imagen"
    />
  </mat-form-field>

  <mat-form-field
    appearance="outline"
    class="form_field"
    hintLabel="Max 15 digitos"
  >
    <mat-label>Teléfono</mat-label>
    <input
      formControlName="phone"
      matInput
      #phone
      maxlength="15"
      placeholder="Teléfono"
    />
    <mat-hint align="end">{{ phone.value.length }}/15</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form_field">
    <mat-label>Cumpleaños</mat-label>
    <input formControlName="birthday" matInput [matDatepicker]="picker" />
    <mat-hint>YYYY/MM/DD</mat-hint>
    <mat-datepicker-toggle
      matSuffix
      class="icon_calendar"
      matIconSuffix
      [for]="picker"
    ></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <ng-container formGroupName="address">
    <mat-form-field
      appearance="outline"
      class="form_field"
      hintLabel="Max 50 caracteres"
    >
      <mat-label>Calle y altura</mat-label>
      <input
        formControlName="street"
        matInput
        #address
        maxlength="50"
        placeholder="Dirección"
      />
      <mat-hint align="end">{{ address.value.length }}/50</mat-hint>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="form_field"
      hintLabel="Max 50 caracteres"
    >
      <mat-label>País</mat-label>
      <input
        formControlName="country"
        matInput
        #country
        maxlength="50"
        placeholder="País"
      />
      <mat-hint align="end">{{ country.value.length }}/50</mat-hint>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="form_field"
      hintLabel="Max 50 caracteres"
    >
      <mat-label>Provincia</mat-label>
      <input
        formControlName="location"
        matInput
        #locality
        maxlength="50"
        placeholder="Provincia"
      />
      <mat-hint align="end">{{ locality.value.length }}/50</mat-hint>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="form_field"
      hintLabel="Max 50 caracteres"
    >
      <mat-label>Localidad</mat-label>
      <input
        formControlName="city"
        matInput
        #city
        maxlength="50"
        placeholder="Localidad"
      />
      <mat-hint align="end">{{ city.value.length }}/50</mat-hint>
    </mat-form-field>
  </ng-container>
  <br />


  <app-map
  class=" editMap "
  [lngLat]="[-17.32,-15.12]"
  [editMode]="edit"
  (emitCoords)="saveCoords($event)"
  ></app-map>


  <div class="separator">
    <button mat-raised-button color="primary" type="submit">Guardar</button>
    <button mat-button (click)="editUser()" >Cancelar</button>
  </div>
</form>





  </ng-container>


</section>
