.card_header{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  width: fit-content;
}
.details{
  display: flex;
  justify-content: space-around;
  margin: 20px auto 40px;
  width: 95%;
}
.separator {
  vertical-align: top;
}

.form {
  border-radius: none;
  border: none;
  box-shadow:none;
  justify-content: center;
  margin-top: 15px;
  padding: 30px 0;
  width: clamp(250px, 95%, 1024px);
}
.edit_button{
  position: absolute;
  right: -20px;
  top: -20px;
}
.texts{
  text-align: center;
}
.title{
  font-size: 2rem;
  margin-bottom: 0;
}
.sub{
  font-size: 0.8rem;
}
.photo{
  border-radius: 10px;
  height: 200px;
  margin-left: 10px;
  width: auto;
}
.details_list{
  margin-top: 20px;
  text-align: left;
  width: 45%;
}
.d_title{
  display: block;
  font-size: 1.5rem;
  margin: 20px auto 10px;
  padding-left: 50px;
  text-decoration: underline;
  width: 100%;

}
.detail{
  border-left: 1px solid black;
  margin-top: 20px;
  padding: 10px 15px;
  width: fit-content;
}

.profileMap{
  height: 300px;
  margin: 10px 10px 0 auto;
  width: 300px;
}
