:host {
  height: fit-content;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.section {
  background: #3973aa;
  color: #fefeff;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  height: 100%;
  margin: 0;
  min-height: 100vh;
  padding: 60px 0px 0px;
  width: 100%;
}
.title {
  font-size: 6em;
  font-weight: 300;
  height: fit-content;
  margin: 0 auto 50px;
  width: 90%;
}

.sub_title {
  font-size: 1.5em;
  font-weight: 300;
  margin: 15px auto 75px 5px;
}

.more_info_title {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.5em;
}

.more_info {
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.1em;
}
.link {
  color: white;
  font-size: 0.8em;
}
.link:visited {
  color: blueviolet;
}
.box_image {
  width: 50%;
  height: auto;
  margin: 0 10px 0 0;
}
.box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 10px 15px 50px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .box {
    flex-direction: row;
    align-items: center;
  }
  .box img {
    width: 35%;
    max-width: 280px;
  }
}
