<section class="section">
      <h1 class="title"><span>:(</span>  Page Not Found</h1>
      <h2 class="sub_title">You will be redirected in {{redirectIn}}</h2>

      <div class="box">
        <img class="box_image" src="assets/images/qr-code.svg" alt="QR Code" />
        <div>
            <h4 class="more_info_title">For more information about this issue and possible fixes, visit:
                <br/><a class="link" href="https://www.mobydigital.com/hablemos" target="_blank">https://www.mobydigital.com/hablemos</a></h4>
                <br>
            <h5 class="more_info">If you call a support person, give them this info:
                <br/>Stop Code: 404 PAGE NOT FOUND</h5>
        </div>
      </div>

</section>
